.list_container {
  padding: 10px 42px;
  background-color: #212327;
}

.list_container > li {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  padding: 0 30px;
}
