* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131617;
  min-width: 480px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}
