.input_container {
  width: 700px;
  margin: 0 auto 10px;
  position: relative;
}

.input_container > input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 8px 30px;
  border: none;
  border-radius: 8px;
  background-color: #222326;
  color: white;
  caret-color: #f82f62;
}

.input_container > input::placeholder {
  color: #84868a;
}

.input_container > input:focus {
  outline: none;
}

button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #222326;
  background-color: #84858c;
  position: absolute;
  top: 9px;
  right: 25px;
  z-index: 1;
}

.list_container {
  width: 700px;
  margin: 0 auto;
}

.list_container > p {
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 30px 0px;
  background-color: #222326;
  border-radius: 8px;
}

.list_container > p > .bold {
  color: #f82f62;
}

.list_container > ul {
  background-color: #222326;
  padding: 30px;
  border-radius: 8px;
}

.list_container > ul > li {
  color: white;
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
  padding: 0 25px;
}

.list_container > ul > li:hover,
.list_container > ul > li.selected {
  background-color: #323436;
  color: white;
}
